<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>С2</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script async src="../src/stat.js"></script>
</head>
<body>
 <div class="container">
    <h1>Statistic</h1>
         <br>
     <h5 class="bar-cats">Cats</h5>
    <div class="progress">
      <div class="v progress-bar progress-bar-striped bg-success" role="progressbar"
           style="width: 0%" aria-valuemin="0" aria-valuemax="100" id="cats"></div>
    </div>
         <br>

     <h5 class="bar-dogs">Dogs</h5>
         <div class="progress">
      <div class="v progress-bar progress-bar-striped" role="progressbar"
           style="width: 0%" aria-valuemin="0" aria-valuemax="100" id="dogs"></div>
    </div>
         <br>

     <h5 class="bar-parrots">Parrots</h5>
         <div class="progress">
      <div class="v progress-bar progress-bar-striped bg-warning" role="progressbar"
           style="width: 0%" aria-valuemin="0" aria-valuemax="100" id="parrots"></div>
    </div>
 </div>

</body>